.footer {
    color: white;
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer_background {
        background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-bottom: -50%;
    /* left: 0;
    right: 0; */
}

.footer .container {
    padding-top: 8em;
    padding-bottom: 3em;
}

.gisarts_link {
    color: white;
    text-decoration: none;
}

.footer .container svg {
    padding-bottom: 0.5em;
}