/* Global */

body {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h2 {
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    line-height: 63px;
    color: white;
}

h4 {
    font-size: 25px;
    line-height: 63px;
    color: white;
    font-weight: 300;
}

b {
    font-weight: 700;
}

p {
    font-size: 18px;
}

a {
    color: white;
}

a:hover {
    color: rgb(200, 200, 200);
}


/* Header */

.header-background {
    background: url('../img/header.jpg') bottom / cover no-repeat;
    height: 570px;
    padding-top: 3em;
    padding-bottom: 3em;
}


/* Body */

.card {
    border-width: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
}

.btn-primary {
    color: rgb(161, 117, 18);
    background-color: white;
    border-color: white;
    font-weight: 300;
}

.btn-primary:hover {
    color: black !important;
    background-color: rgb(200, 200, 200) !important;
    border-color: rgb(200, 200, 200) !important;
}

.no-overflow {
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.icon-animation {
    position: relative;
    animation: updown 10s ease infinite;
}

@keyframes updown {
    0% {
        top: 10px;
    }
    5% {
        top: 5px;
    }
    15% {
        top: 24px;
    }
    25% {
        top: 10px;
    }
    100% {
        top: 10px;
    }
}


/* Footer */

.footer {
    /* padding-top: 3rem; */
    color: white;
    background-image: url('../img/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.footer .container {
    padding-top: 5rem;
}

.gisarts_link {
    color: white;
    text-decoration: none;
}

.footer .container svg {
    padding-bottom: 0.5em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


/* Responsive */

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}